<mat-sidenav-container class="layout-container">

  <mat-sidenav
    #sidenav
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    [opened]="!(isMobile$ | async)">

    <mat-nav-list>
      <a mat-list-item routerLink="/clients" routerLinkActive="active-link">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Kunden</span>
      </a>
      <a mat-list-item routerLink="/caregivers" routerLinkActive="active-link">
        <mat-icon matListItemIcon>volunteer_activism</mat-icon>
        <span matListItemTitle>Betreuerinnen</span>
      </a>
      <a mat-list-item routerLink="/care-recipients" routerLinkActive="active-link">
        <mat-icon matListItemIcon>favorite</mat-icon>
        <span matListItemTitle>Pflegebedürftige</span>
      </a>
      <a mat-list-item routerLink="/assignments" routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Aufträge</span>
      </a>
      <a mat-list-item routerLink="/intermediaries" routerLinkActive="active-link">
        <mat-icon matListItemIcon>handshake</mat-icon>
        <span matListItemTitle>Partner</span>
      </a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="icon-mark.png" alt="" class="brand-mark">
      <span class="brand-name">o1jobs CRM</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Abmelden
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
